.tags-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4em;
}

@media (max-width: 767px) {
    .tags-list {
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
}
